<% breadcrumb :dashboards, @domain %>

<script>
    var dashboards = [
        <% @dashboards.each do |dashboard| %>
        {
            id: <%= dashboard.id %>,
            name: '<%= dashboard.name %>'
        },
        <% end %>
    ];

    var currentPageIndex = 0;
    var pages = [];

    var createPages = function(dashboards) {
        var pageSize = 10;
        var pages = [];
        for (var i = 0; i < dashboards.length; i += pageSize) {
            pages.push(dashboards.slice(i, i + pageSize));
        }
        return pages;
    }

    function search() {
        var searchText = $('#search-text').val().toLowerCase();
        var searchResults = dashboards.filter(function(dashboard) {
            return dashboard.name.toLowerCase().includes(searchText);
        });
        pages = createPages(searchResults);
        currentPageIndex = 0;
        refreshResults();
    }

    function refreshResults() {
        $('#results').html(
                HandlebarsTemplates.dashboard_search_results({
                    results: pages[currentPageIndex]
                })
        );

        $('#results').append(
                HandlebarsTemplates.page_nav({
                    pages: pages,
                    currentPageIndex: currentPageIndex
                })
        );
    }

    $(function() {
        search();

        $('body').on('click', '.pagination li a', function() {
            currentPageIndex = $(this).data('pageIndex');
            refreshResults();
            return false;
        });
    });
</script>

<div class="row">
  <div class="large-12 columns">
    <p id="notice"><%= notice %></p>

    <h1>Find Dashboard</h1>

    <div class="row">
      <div class="large-6 columns">
        <form>
          <div class="row">
            <div class="large-12 columns">
              <input id="search-text" type="text" placeholder="Name" oninput="search();" autocomplete="off"/>
            </div>
          </div>
        </form>
        <div id="results"></div>
      </div>
    </div>
  </div>
</div>

