{{#each results}}
    <ul class="no-bullet">
        <li>
            <a href="/dashboards/{{id}}">
                {{name}}
            </a>
        </li>
{{/each}}

{{paginate pages currentPageIndex}}
