<div class='header'>
    Epic: <strong>{{d.issue.summary}}</strong>
</div>
<div class='content'>
    Cycle Time: <strong>{{round d.cycleTime}} days</strong>
    {{#if active}}
        <ul>
            {{#each d.issue.issues}}
                <li>{{summary}}</li>
            {{/each}}
        </ul>
    {{/if}}
</div>
