<div class="pagination-centered">
    <ul class="pagination">
        {{#each pages}}
            <li class="{{paginationClass @index ../currentPageIndex}}"><a data-page-index="{{@index}}" href="">{{paginationIndex @index}}</a></li>
        {{/each}}
    </ul>
</div>
