#container, .d3-tip, .d3-tip ul {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #525263;
  font-size: 12px;
  font-weight: 300;
}

.d3-tip ul {
  margin-bottom: 0;
}

.d3-tip {
  pointer-events: none !important;
  box-shadow: 1px 1px 6px rgba(127, 127, 127, 0.6);
}

.d3-tip .header {
  padding: 6px;
}

.d3-tip.wip .header {
  background: rgba(240, 240, 255, 0.8);
  border-bottom: solid 1px rgba(200, 200, 250, 0.8);
}

.d3-tip.cycle_time .header {
  background: rgba(250, 240, 240, 0.8);
  border-bottom: solid 1px rgba(250, 200, 200, 0.8);
}

.d3-tip .content {
  padding: 6px;
}

.d3-tip.wip .content {
  background: rgba(250, 250, 255, 0.8);
}

.d3-tip.cycle_time .content {
  background: rgba(255, 250, 250, 0.8);
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges;
}

.chart circle {
  fill: white;
}

.chart circle.cycle_time {
  stroke: indianred;
  stroke-width: 1.5px;
}


.chart circle.wip {
  stroke: steelblue;
  stroke-width: 1.5px;
}

.chart .line {
  fill: none;
  stroke-width: 1.5px;
  stroke-opacity: 0.6;
}

.chart .line.wip {
  stroke: steelblue;
}

.chart .area.wip {
  fill: steelblue;
  opacity: 0.15;
}

.chart .line.throughput {
  stroke: green;
}

.chart .line.cycle_time {
  stroke: indianred;
  stroke-width: 2px;
}

.chart .area.cycle_time {
  fill: indianred;
  opacity: 0.15;
}

.chart .overlay {
  fill: none;
  stroke: none;
  pointer-events: all;
}

#focusCircle {
  fill: white;
  cursor: pointer;
}

#container {
  width: 100%;
}
