.tabs {
  li > a {
    border-top: solid 1px #d8d8d8;
    border-left: solid 1px #d8d8d8;
    border-right: solid 1px #d8d8d8;
    border-bottom: solid 1px #fff;
    margin-right: -1px;
  }
  li:not(.active) > a {
    border-bottom: solid 1px #d8d8d8;
  }
}
.tabs-content {
  border: 1px #d8d8d8 solid;
  .content {
    padding: 15px;
    margin-top: 0;
  }
  margin: -1px 0 15px 0;
}