<div class="row">
  <div class="large-3 columns">
    <label>Start date
      <input type="text" name="start_date" id="start_date" placeholder="e.g. 1 Jun 2015" value="<%= @start_date ? @start_date.to_s : nil %>"/>
    </label>
  </div>
  <div class="large-3 columns">
    <label>Wip scale factor
      <input type="text" name="wip_scale_factor" id="wip_scale_factor" value="<%= @wip_scale_factor ? @wip_scale_factor : nil %>"/>
    </label>
  </div>
  <div class="large-6 columns">
    <label>Filter
      <input class="filter" type="text" name="filter" id="filter" placeholder="e.g. 1 Jun 2015-1 Aug 2015" value="<%= params[:filter] ? params[:filter] : nil %>"/>
    </label>
  </div>
</div>