<% breadcrumb :control_chart, @dashboard %>

<div class="row">
  <div class="large-12 columns">
    <h1>Control Chart</h1>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <form>
      <div class="row">
        <div class="large-4 columns">
          <label>Issue Type</label>
          <select id="issue_type" style="display: float;" class="left">
            <option value="Epic">Epic</option>
            <option value="Story">Story</option>
            <option value="All">All Issues</option>
          </select>
        </div>
        <div class="large-8 columns">
          <label>Date Filter</label>
          <input id="filter" type="text" value="<%= "complete: #{(Date.today - 1.year).strftime('%d %b %Y')} - #{Date.today.strftime('%d %b %Y')}"  %>" />
        </div>
      </div>
    </form>
  </div>
</div>

  <script>
      $(function () {
          var bisectDate = d3.bisector(function(d) { return d.completed ? d.completed : d.date; }).left;

          function cycleTimeTip(d, active) {
              var context = { d: d, active: active };
              return HandlebarsTemplates['epic_tooltip'](context);
          }

          function wipTip(d, active) {
              var context = { d: d, active: active };
              return HandlebarsTemplates['wip_tooltip'](context);
          }

          function drawChart(epics, wip) {
              var cycleTimeData = epics[0]
                      .filter(function(item) {
                          return item.issue.completed != null;
                      })
                      .map(function(item) {
                          return {
                              completed: datetime.parseTime(item.issue.completed),
                              cycleTime: item.cycle_time,
                              avg: item.mean,
                              sd: item.stddev,
                              issue: item.issue
                          };
                      });

              var wipData = Object.keys(wip[0]).map(function(date) {
                  return {
                      date: datetime.parseDate(date),
                      wip: wip[0][date].wip,
                      issues: wip[0][date].epics,
                      avg: wip[0][date].mean,
                      sd: wip[0][date].stddev
                  };
              });

              var chart = new CycleTimeChart({
                  container: '#container',
                  aspectRatio: 2.0,
                  margin: {top: 40, right: 30, bottom: 30, left: 40}
              });

              chart.bind();

              chart.setSeries(cycleTimeData, wipData);


          }

          function drawReport() {
              var filter = $('#filter').val();
              var issueType = $('#issue_type').val();
              $.when(
                      $.get('<%= dashboard_path(@dashboard) %>/data/cycle_times.json?issue_type=' + issueType + '&filter=' + filter),
                      $.get('<%= dashboard_path(@dashboard) %>/data/wip.json?issue_type=' + issueType + '&filter=' + filter)
              ).done(drawChart);
          }

          drawReport();

          $('#filter').on('change', drawReport);
          $('#issue_type').on('change', drawReport);
          $(window).resize(drawReport);
      });

  </script>

<div class="row">
  <div class="large-12 columns">
    <svg id="container" class="chart"></svg>
  </div>
</div>