<!-- Load c3.css -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.css" rel="stylesheet" type="text/css">

<!-- Load d3.js and c3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.js"></script>

<div class="row">
  <div class="large-12 columns">
  <h1>Epic Cycle Times</h1>


    <div id="chart"></div>
    <script>
      $(function() {
          $.when(
                  $.get('<%= project_path(@project) %>/cycle_times.json'),
                  $.get('<%= project_path(@project) %>/wip.json')
          ).done(function (epics, wip) {
              var epicData = epics[0]
                      .filter(function (epic) {
                          return epic.completed != null;
                      })
                      .map(function (epic) {
                          return {
                              date: Date.parse(epic.completed),
                              data2: epic.cycle_time,
                              id: epic.id,
                              key: epic.key,
                              summary: epic.summary
                          };
                      });
              var wipData = Object.keys(wip[0]).map(function (date) {
                  var histories = wip[0][date];
                  return {
                      date: date,
                      data1: histories.length
                  };
              });
              chart = c3.generate({
                  data: {
                      x: 'date',
                      xFormat: '%Y-%m-%d %H:%M:%S',
                      json: wipData.concat(epicData).sort(function(a, b) {
                          if (a.date > b.date) {
                              return 1;
                          }
                          if (a.date < b.date) {
                              return -1;
                          }
                          // a must be equal to b
                          return 0;
                      }),
                      keys: {
                          x: 'date',
                          value: [ "data1", "data2" ]
                      },
                      types: {
                          data1: 'step',
                          data2: 'scatter'
                      },
                      colors: {
                          data1: '#0000FF',
                          data2: '#FF0000'
                      },
                      axes: {
                          data1: 'y',
                          data2: 'y2'
                      }
                  },
                  axis: {
                      x: {
                          type: "timeseries"
                      },
                      y2: {
                          show: true
                      }
                  }
              });
          });
      });
    </script>
  </div>
</div>