<% breadcrumb :reports, @dashboard %>

<div class="row">
  <div class="large-12 columns">
    <ul class="no-bullet">
      <li>
        <%= link_to('Control Chart', dashboard_reports_control_chart_path(@dashboard)) %>
      </li>
      <li>
        <%= link_to('Forecasts', dashboard_reports_forecast_path(@dashboard)) %>
      </li>
    </ul>
  </div>
</div>