<% breadcrumb :reports, @project %>

<div class="row">
  <div class="large-12 columns">
    <ul class="no-bullet">
      <li>
        <%= link_to('Control Chart', project_reports_control_chart_path(@project)) %>
      </li>
      <li>
        <%= link_to('Forecasts', project_reports_forecast_path(@project)) %>
      </li>
    </ul>
  </div>
</div>